---
layout: default
title: Home
---
<div class="introduction">
  <h1>hi.</h1>

<p>
  I am Le Dinh-Tuyen who is behind this website. When I get bored, I write random stuff. If you want to contact with me, drop an email at tuyenld.work@gmail.com
</p>
</div>

<hr>

<div class="toc">
  <h2>Recent posts</h2>
  <ul class="texts">
  <!-- {% assign post_sorted = site.posts | reverse %} -->
  {% for item in site.posts %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        [{{ item.date | date: "%F"}}] {{ item.title }}
      </a>
    </li>
    {% if forloop.index == site.max_recent_posts %}
      {% break %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
